blockquote{
  @extend .blockquote;

  padding-left: 0.5rem;
  border-left: $yellow 0.2rem solid ;
  font-style: italic;

  &:before{
    position: relative;
    top: -0.6rem;
    content: '\201C';
    color: darken($yellow, 20%);
    font-size: 2rem;
    font-style: normal;
  }
}
