.site-header {
  position: relative;
  z-index: 2;
  box-shadow: 0 0.5rem 0.6em rgba(0, 0, 0, 0.15);

  .container {
    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }

    .navbar-brand {
      font-family: "Baumans", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

      @include media-breakpoint-only(md) {
        border-bottom: 2px solid $white !important;
      }

      @include media-breakpoint-up(lg) {
        width: 260px;
        border-right: 2px solid $white !important;
        padding-right: $spacer;
        text-align: right;
      }
    }

    .navbar-nav .nav-item:first-child a {
      @include media-breakpoint-only(md) {
        padding-left: 0;
      }
    }
  }
}
