@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    ul.two-columns#{$infix}{
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}
