<footer class="footer bg-dark mt-5 py-5">
    <div class="container">
        <h2 class="sr-only">Useful links</h2>
        <div class="row">
            <div class="col-12 col-sm-6 mb-6">
                {% assign socials = site.data.social_network %}
                {%- if socials.size > 0 -%}
                    <h3>Contact</h3>
                    <p>You can contact me using one of the following media:</p>
                    <nav class="nav flex-row">
                        {%- for social in socials -%}
                            {%- if social.url and social.class and social.title -%}
<!--                                {%- if forloop.first == true -%}-->
<!--                                    {%- assign mx_class = "mr-3" -%}-->
<!--                                {%- elsif forloop.last == true -%}-->
<!--                                    {%- assign mx_class = "ml-3" -%}-->
<!--                                {%- else -%}-->
                                    {%- assign mx_class = "mx-3" -%}
<!--                                {%- endif -%}}-->
                                <a href="{{ social.url }}" target="_blank" class="{{ mx_class }}">
                                    <span class="{{ social.class }} fa-2x text-light"></span>
                                    <span class="sr-only">{{ social.title }}</span>
                                </a>
                            {%- endif -%}}
                        {%- endfor -%}
                    </nav>
                {%- endif -%}
            </div>
            <div class="col-12 col-md-6 offset-md-2 mb-3">
                <h3>About the site</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="{{ site.github.repository_url }}">Project on Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="{{ 'feed.xml' | relative_url }}">Subscribe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="{{ 'sitemap.xml' | relative_url }}">Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{{ '/assets/javascript/bootstrap/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/javascript/bootstrap/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/javascript/bootstrap/bootstrap.min.js' | relative_url }}"></script>
