<footer class="footer bg-dark py-3 pt-md-5">
    <div class="container">
        <h2 class="sr-only">Useful links</h2>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <h3>Contact</h3>
                <nav class="nav flex-row">
                    {%- if site.github.owner_url -%}
                        <a href="{{ site.github.owner_url }}">
                            <span class="fab fa-linkedin fa-2x text-light"></span>
                            <span class="sr-only">GitHub</span>
                        </a>
                    {%- endif -%}
                    {%- if site.social.linkedin -%}
                        <a href="{{ site.social.linkedin }}" target="_blank">
                            <span class="fab fa-linkedin fa-2x text-light"></span>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    {%- endif -%}
                    {%- if site.social.youtube -%}
                        <a href="{{ site.social.youtube }}" target="_blank">
                            <span class="fab fa-youtube-square fa-2x text-light"></span>
                            <span class="sr-only">Youtube</span>
                        </a>
                    {%- endif -%}
                    {%- if site.social.reddit -%}
                    <a href="{{ site.social.reddit }}" target="_blank">
                        <span class="fab fa-reddit-square fa-2x text-light"></span>
                        <span class="sr-only">Reddit</span>
                    </a>
                    {%- endif -%}
                    {%- if site.social.steam -%}
                    <a href="{{ site.social.steam }}" target="_blank">
                        <span class="fab fa-steam-square fa-2x text-light"></span>
                        <span class="sr-only">Steam</span>
                    </a>
                    {%- endif -%}
                </nav>
            </div>
            <div class="col-12  col-md-6 mb-3">
                <h3>About the site</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="{{ site.github.repository_url }}">Project on Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="{{ 'feed.xml' | relative_url }}">Subscribe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="{{ 'sitemap.xml' | relative_url }}">Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{{ '/assets/javascript/bootstrap/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/javascript/bootstrap/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/javascript/bootstrap/bootstrap.min.js' | relative_url }}"></script>
