<header class="site-header">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <a class="btn btn-outline-primary" type="button" href="{{ site.github.repository_url }}">View On
                        GitHub</a></a>
                    {% if site.show_downloads %}
                    <a class="btn btn-outline-secondary" type="button" href="{{ site.github.zip_url }}">ZIP</a></a>
                    <a class="btn btn-outline-secondary" type="button" href="{{ site.github.tar_url }}">TAR</a></a>
                    {% endif %}
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand site-title" href="{{ '/' | relative_url }}">
                        {{ site.title | default: site.github.repository_name | escape }}
                    </a>
                    <p class="text-muted">{{ site.description | default: site.github.project_tagline }}</p>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mainmenu"
                            aria-controls="navbar-mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-mainmenu">
                        <ul class="navbar-nav mr-auto">
                            {% assign links = site.data.navigation %}
                            {% assign activeClass = '' %}
                            {% assign activeContent = '' %}
                            {% assign linkClass = '' %}
                            {% if page.url contains link.url %}
                                {% assign activeClass = ' active' %}
                                {% assign activeContent = ' <span class="sr-only">(current)</span>' %}
                            {% endif %}
                            {% if link.class != blank %}
                                {% assign linkClass = link.class  %}
                            {% endif %}
                            <li class="nav-item {{ activeClass }}{{ linkClass }}">
                                <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.title }}{{ activeContent }}</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
