<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | default: site.github.repository_name }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}" />
  <link href="//fonts.googleapis.com/css?family=Droid+Sans&display=swap" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Baumans&display=swap" rel="stylesheet" type="text/css" />

  <script src="{{ '/assets/javascript/bootstrap/jquery.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/javascript/bootstrap/bootstrap.bundle.min.js' | relative_url }}" type="text/javascript"></script>

  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

  {%- seo -%}
  {%- feed_meta -%}
</head>
