<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | default: site.github.repository_name }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}" />
  <link href="//fonts.googleapis.com/css?family=Droid+Sans&display=swap" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Baumans&display=swap" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="https://app.termly.io/resource-blocker/53530764-7a92-4e79-91a2-0707888075f2?autoBlock=on" ></script>
  <script src="{{ '/assets/javascript/bootstrap/jquery.min.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ '/assets/javascript/bootstrap/bootstrap.bundle.min.js' | relative_url }}" type="text/javascript"></script>

  {% if site.ga_tracking != nil %}
  {% assign ga_tracking_ids = site.ga_tracking | split: "," %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    {% for ga_property in ga_tracking_ids %}
    gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
    {% endfor %}
  </script>
  {% endif %}

  {%- seo -%}
  {%- feed_meta -%}
</head>
