<header class="site-header">
    <!-- MENU -->
    <div class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-1">
                        <a class="navbar-brand site-title" href="{{ '/' | relative_url }}">
                            {{ site.title | default: site.github.repository_name | escape }}
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbar-mainmenu"
                                aria-controls="navbar-mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbar-mainmenu">
                            <ul class="navbar-nav mr-auto">
                                {% assign links = site.data.navigation %}
                                {% for link in links %}
                                {%- include nav-item.html link=link -%}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
