<div class="card border-primary mb-2">
    {% if post.title != blank %}
    <div class="order-3 card-title p-1 mb-2">
        <h3 class="h5 m-0">{{ post.title }}</h3>
    </div>
    {% endif %}
    {% if post.date != blank %}
    <div class="card-date order-2 card-text text-right p-0">
        <date class="bg-primary py-1 px-3">{{ post.date | date: site.date_format }}</date>
    </div>
    {% endif %}
    {% if card.image != blank %}
    <img class="order-1 card-img-top" src="{{ post.image | relative_url }}" alt="" aria-hidden="true">
    {% endif %}
    <div class="order-11 card-body p-1">
        {% if post.excerpt != blank %}
        <p class="card-text">{{ post.excerpt }}</p>
        {% endif %}
    </div>
    <div class="order-12 card-text p-1 pb-2">
        <a href="{{ post.url }}" class="card-link">Read more</a>
    </div>
</div>
