<div class="card mb-3">
    <div class="order-3 card-body">
        <h3 class="h5 card-title">{{ post.title }}</h3>
    </div>
    <div class="order-1 card-body">
        <date>{{ post.date | date: site.date_format }}</date>
    </div>
    {% if card.image != blank %}
        <img class="order-2" src="{{ post.image }}" alt="" aria-hidden="true">
    {% endif %}
    <div class="order-12 card-body">
        {% if post.intro != blank %}
            <p class="card-text">{{ post.excerpt }}</p>
        {% endif %}
        <a href="#" class="btn btn-primary">Read more</a>
    </div>
</div>
