<header class="bg-light text-dark pb-1 pt-3">
    <div class="container d-flex align-items-end">
        <h1 class="mb-0">{{ page.title | escape }}</h1>
        {%- if page.date or page.author -%}
        <p class="post-meta">
            {%- if page.date -%}
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- endif -%}
            {%- if page.author -%}
            <span itemprop="author">{{ page.author | escape }}</span>
            {%- endif -%}
        </p>
        {%- endif -%}
        <div class="ml-auto mb-1">
            <a href="{{ site.github.repository_url }}">
                                    <span class="fa-stack fa-1x github">
                                        <i class="fas fa-circle fa-stack-2x text-white" data-fa-transform="shrink-1"></i>
                                        <i class="fab fa-github fa-stack-2x text-primary"></i>
                                    </span>
                <span class="sr-only">View On GitHub</span>
            </a>
            <a href="{{ 'feed.xml' | relative_url }}">
                                    <span class="fa-stack fa-1x">
                                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fas fa-rss fa-stack-1x fa-inverse text-white"></i>
                                    </span>
                <span class="sr-only">Subscribe</span>
            </a>
        </div>
    </div>
</header>
