---
layout: default
---

<div class="container home-content pt-4">
    {{ content }}

    {%- assign carousel_limit = 5 -%}
    {%- assign all_posts = site.posts | concat: site.notes -%}
    {%- assign sorted = all_posts | sort: 'date' | reverse -%}
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    {%- if sorted.size > 0 -%}
    <div id="home-card-carousel" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" href="#home-card-carousel" data-slide="prev"><i
                    class="fas fa-chevron-left"></i></a>
            <a class="btn-floating" href="#home-card-carousel" data-slide="next"><i
                    class="fas fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {%- for post in sorted limit:carousel_limit -%}
                {%- if forloop.first -%}
                    {%- assign active_class = "active" -%}
                {%- else -%}
                    {%- assign active_class = "" -%}
                {%- endif -%}
                <li data-target="#home-card-carousel" data-slide-to="{{ forloop.index0 }}" class="{{ active_class }}"></li>
            {%- endfor -%}
        </ol>
        <!--/.Indicators-->

        <div class="carousel-inner v-2" role="listbox">

            {%- for post in sorted limit:carousel_limit -%}
                {%- if forloop.first -%}
                    {%- assign active_class = "active" -%}
                {%- else -%}
                    {%- assign active_class = "" -%}
                {%- endif -%}
                <div class="carousel-item {{ active_class }}">
                    <div class="col-12 col-md-4 d-flex flex-align-stretch">
                        {%- include post-card.html post=post -%}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
    {%- endif -%}
</div>
<script src="{{ '/assets/javascript/custom/bootstrap-carousel.js' | relative_url }}"></script>
