---
layout: bootstrap
---
<article class="post">

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span  itemprop="author">{{ page.author | escape }}</span>
      {%- endif -%}
    </p>
  </header>

  {%- if page.description -%}
    {%- unless page.description.blank? -%}
      <div class="post-intro" itemprop="articleBody">
        {{ page.description }}
      </div>
    {% endunless %}
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="btn" href="{{ page.url | relative_url }}" hidden></a>
</article>
